
<nav class="navbar navbar-default navbar-expand-md header-bg">
  <a href="#"><img style="height: 75px;width: 250px;" src="../../../../assets/tecqubepngfinal.png"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span>
      <i class="fa fa-bars" aria-hidden="true" style="color:#e6e6ff"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse" #navbarCollapse id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/home" routerLinkActive="active">Home</a>
      </li>

      <li class="nav-item" *ngIf="isUserLoggedIn() && getLoginType() !='Recruiter'">
        <a class="nav-link text-white" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>

      <li class="nav-item" *ngIf="isUserLoggedIn()">
        <a class="nav-link text-white" routerLink="/jobopenings" [queryParams]="{type:'all'}"
          routerLinkActive="active">Job Openings</a>
      </li>

      <li class="nav-item dropdown" *ngIf="isUserLoggedIn() && getLoginType() == 'Super Admin' ">
        <a class="nav-link text-white menu-item dropdown-toggle" data-toggle="dropdown" href="#" role="button"
          aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class=" dropdown dropdown-menu bg-1">
          <a class="dropdown-item menu-item" routerLink="/users" routerLinkActive="active">Users</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item menu-item" routerLink="/master" routerLinkActive="active">Master Data</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item menu-item" routerLink="/country" routerLinkActive="active">Country</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item menu-item" routerLink="/state" routerLinkActive="active">State</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item menu-item" routerLink="/city" routerLinkActive="active">City</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item menu-item" routerLink="/clients" routerLinkActive="active">Clients</a>
        </div>
      </li>
    </ul>
    <div class="float-right" *ngIf="isUserLoggedIn()">
      <b class="text-white">Welcome {{ getFullName() }} <button class="btn btn-link text-white" (click)="logout()">
          (signout)</button></b>
    </div>
    <div class="float-right" *ngIf="!isUserLoggedIn()">
      <button class="btn btn-link text-white" (click)="login('all')"> Login</button>
    </div>
    
  </div>
  <img src="../assets/qubeconnect.png" height="75px">
</nav>



