<div class="e-custom-card bg-1 custom-padding padding-bottom">
  <ejs-grid #grid
            [dataSource]="users"
            [toolbar]="toolbar"
            [allowExcelExport]="true"
            (toolbarClick)="toolbarClick($event)"
            [allowSorting]="true"
            (actionBegin)='onDataBound($event)'>
    <e-columns>
      <e-column width="60">
        <ng-template #template let-data>
          <!-- <img src="../../../assets/edit-black-18dp.svg" (click)="edit(data)" /> -->
          <span (click)="edit(data)"><i class="fa fa-edit"></i></span>
        </ng-template>
      </e-column>
      <e-column field="firstName"
                headerText="First Name"
                width="200"></e-column>
      <e-column field="middleName"
                headerText="Middle Name"
                width="200"></e-column>
      <e-column field="lastName" headerText="Last Name" width="200"></e-column>
      <e-column field="userid" headerText="User Id" width="250"></e-column>
      <e-column field="email" headerText="Email" width="200"></e-column>
      <e-column field="role" headerText="Role" width="200"></e-column>
      <e-column field="countryName" headerText="Country" width="200"></e-column>
      <e-column field="active" headerText="Active" width="100">
        <ng-template #template let-data>
          <input type="checkbox" disabled checked *ngIf="data.active" />
          <input type="checkbox" disabled *ngIf="!data.active" />
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
  <ejs-pager [pageSize]='pageSettings.pageSize' [pageCount]='pageSettings.pageCount' [totalRecordsCount]='pageSettings.totalRecordsCount'
             [pageSizes]="pageSizes" (click)="onPageChange($event)" (dropDownChanged)="onPageSizeChange($event)">
  </ejs-pager>
</div>
