<div class="e-custom-card bg-1 custom-padding">
    <h5>Add / Edit Client <i class="fa fa-close float-right" (click)="cancel()"></i></h5>
    <form
      [formGroup]="clientGroup"
      autocomplete="off"
      novalidate
     
      (ngSubmit)="onSubmit()"
    >
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3 col-xlg-3">
          <mat-form-field>
            <mat-label>Name *</mat-label>
            <input matInput placeholder="Name" formControlName="name" />
            <mat-error *ngIf="hasError('name', 'required')"
              >Name is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3 col-xlg-3">
          <mat-form-field>
            <mat-label>Client Code *</mat-label>
            <input matInput placeholder="Client Code" formControlName="code" />
            <mat-error *ngIf="hasError('code', 'required')"
              >Client Code is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3 col-xlg-3">
            <mat-form-field>
              <mat-label>Company Url *</mat-label>
              <input matInput placeholder="Company Url" formControlName="url" />
              <mat-error *ngIf="hasError('url', 'required')"
                >Company Url is required</mat-error
              >
            </mat-form-field>
          </div>
        <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3 col-xlg-3">
          <div
            class="btn-toolbar float-right"
            role="toolbar"
            aria-label="Toolbar with button groups"
          >
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-secondary" (click)="cancel()">
                Cancel
              </button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>